.content {
    background-color: white;
    margin: 60px 10% 80px 10%;
    padding: 30px;
    min-width: 356px;
    box-shadow: 0px 0px 8px 8px rgba(10, 0, 0, 0.6);
}
#Result{
    margin-top: 5%;
    font-size: 50px;

}
